.site-container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding: 0 30px;
  margin: 0 auto;
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.active-page {
  border-bottom: 2px solid var(--carnation-color);
  padding-bottom: 20px;
}

.menu-link[href] {
  opacity: 1;
  transition: 0.3s;
}

.menu-link[href]:hover {
  color: var(--carnation-color);
  transition: 0.3s;
}

.menu-link[href]:active {
  color: var(--black-color);
  opacity: 0.3;
  transition: 0.3s;
}

.top__section {
  background-color: var(--bg-color);
  padding-top: 132px;
}