/* Variables */

:root {
    --white-color: #fff;
    --black-color: #000;
    --bg-color: #f2f2f2;
    --space-color: #283136;
    --carnation-color: #fb565a;
    --carnation-hover-color: #e74246;
    --carnation-active-color: #d7373b;
}

/* Global */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--space-color);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul,
ol,
menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Overall */

.site-container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    max-width: 1220px;
    padding: 0 30px;
    margin: 0 auto;
}

.btn-reset {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.active-page {
    border-bottom: 2px solid var(--carnation-color);
    padding-bottom: 20px;
}

/* Header */

.header__container {
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 48px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 10;
}

.header__logo {
    height: 67px;
}

.header__logo[href] img {
    opacity: 1;
    transition: 0.3s;
}

.header__logo[href] img:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.header__logo[href] img:active {
    opacity: 0.3;
    transition: 0.3s;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 68.7%;
    height: 46px;
    margin-top: 26px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.menu-link[href] {
    opacity: 1;
    transition: 0.3s;
}

.menu-link[href]:hover {
    color: var(--carnation-color);
    transition: 0.3s;
}

.menu-link[href]:active {
    color: var(--black-color);
    opacity: 0.3;
    transition: 0.3s;
}

.header__cart img {
    margin-right: 22px;
}

/* Top section */

.top__section {
    background-color: var(--bg-color);
    padding-top: 132px;
}

/* Slider */

.swiper-container {
    width: 100%;
    height: 413px;
}

.slide__content {
    overflow-x: auto;
}

.slide__descr {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 70px;
}

.slide__descr-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--black-color);
    margin-bottom: 15px;
}

.slide__descr-text {
    margin-bottom: 42px;
}

.slide__descr-btn {
    display: inline-block;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--carnation-color);
    padding: 16px 51px;
    transition: color 0.3s;
}

.slide__descr-btn:hover {
    background-color: var(--carnation-hover-color);
    transition: color 0.3s;
}

.slide__descr-btn:active {
    background-color: var(--carnation-active-color);
    color: rgba(255, 255, 255, 0.3);
    transition: color 0.3s;
}

.slide__descr-image {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    height: 413px;
    z-index: -1;
}