
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
  margin-bottom: 90px;
}

.header__logo {
  display: inline-block;
  width: 160px;
  height: 67px;
}

.header__nav {
  padding-top: 16px;
  margin-right: 42px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  width: 438px;
}

.active-page {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-color);
  border-bottom: 2px solid var(--carnation-color);
  padding-bottom: 20px;
}

.header__cart {
  padding-top: 16px;
}

.header__cart img {
  margin-right: 22px;
}
