.header__container {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 48px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 10;
}

.header__logo {
  height: 67px;
}

.header__logo[href] img {
  opacity: 1;
  transition: 0.3s;
}

.header__logo[href] img:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.header__logo[href] img:active {
  opacity: 0.3;
  transition: 0.3s;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 68.7%;
  height: 46px;
  margin-top: 26px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.header__cart img {
  margin-right: 22px;
}

/* @media(max-width: 930px) {
  .header__list {
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width: 480px) {
  .header__nav {
    flex-direction: column;
    align-items: center;
  }

  .header__cart img {
    margin-right: 4px;
  }
} */